name: Build and Test

on: [push, pull_request]

# cancels prior builds for this workflow when new commit is pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and run tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # macos-13 is the last intel based runner
        os: [ubuntu-latest, macos-13, macos-latest, windows-latest]
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout Opty
        uses: actions/checkout@v4
      - name: Setup Conda environment
        if: runner.os == 'Windows'
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          channels: conda-forge
          conda-remove-defaults: "true"
          environment-file: opty-dev-env.yml
          mamba-version: "*"
          python-version: ${{ matrix.python-version }}
      - name: Setup Conda environment
        if: runner.os != 'Windows'
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          channels: conda-forge
          conda-remove-defaults: "true"
          environment-file: opty-dev-env.yml
          python-version: ${{ matrix.python-version }}
      - name: Install openmp
        if: runner.os == 'Linux'
        run: |
          conda list
          conda install libgomp
      - name: Install openmp
        if: runner.os == 'macOS'
        run: |
          conda list
          conda install llvm-openmp
      # llvm-openmp fails to install because it is incompatible with ipopt, but
      # openmp "installs", nonetheless the openmp example fails to compile.
      - name: Install openmp
        if: runner.os == 'Windows'
        run: |
          mamba list
          mamba install openmp
      - name: Test with pytest
        run: |
          conda list
          pytest --cov=opty opty/
      - name: Install Opty and test import
        run: |
          python -m pip install --no-deps --no-build-isolation .
          conda list
          python -c "import opty"
      - name: Run an example
        run: |
          python examples/vyasarayani2011.py
      # This example only seems to work on the linux builds.
      - name: Run an openmp example
        run: |
          python examples/parallel_example.py
